{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block name %}Home{% endblock name %}

{% block content %}
<div class="container mt-5 text-center">
    <center>
        <h1 class="mt-3">{{type}}</h1>
        <div class="mt-4">
            {% for con in content %}
                <a href="/recipe/{{con['_id']}}"><div class="content">
                    <h3>{{con.title}}</h3>
                    <p>{{con.description}}</p>
                </div></a>
            {% endfor %}
        </div>
    </center>
</div>    
{% endblock content %}