{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block name %}Home{% endblock name %}

{% block content %}
<div class="container mt-5 text-center">
    <center>
        <img src="/static/logo.png" alt="Logo">
        <h1 class="mt-3">Da Cookbook</h1>
        <h3>The Perfect Place To Save And Maintain All Your Delicious Recipes</h3>
        <div class="mt-4">
            <h1>Welcom {{user['username']}} !</h1>
            <a href="/new" class="mt-4 btn btn-success">New Recipe</a>
            <a href="/logout" class="mt-4 btn btn-danger">Logout</a>
            <a href="/liked" class="mt-4 btn btn-warning">Liked</a>
            <a href="/favorites" class="mt-4 btn btn-warning">Favorites</a>
        </div>
        <div class="mt-5">
            {% for recipe in recipes %}
            <a href="/recipe/{{recipe['_id']}}">
                <div class="recipe">
                    <h1>{{recipe['title']}}</h1>
                    <h5>{{recipe['description']}}</h5>
                    <h6 class="text-muted">Created On: {{recipe['created']}}</h6>
                </div>
            </a>
            {% endfor %}
        </div>
    </center>
</div>    
{% endblock content %}